%div{id: "meeting_issue_for_#{answer.id}"}
  - if answer.issue.present?
    %p
      %table.list.issues
        %tr.issue
          %td.subject=link_to_issue(answer.issue, :project => false)
          %td=link_to_user(answer.issue.assigned_to)
          %td=format_date(answer.issue.start_date)
          %td=format_date(answer.issue.due_date)
          %td=h answer.status
          %td=progress_bar(answer.issue.done_ratio, :width => '80px')
          %td=t(answer.issue_type || 'new', scope: :label_meeting_issue_type_statuses)
          %td=link_to l(:button_dettach), {controller: 'meeting_issues', action: 'destroy', id: answer.id}, confirm: l(:text_are_you_sure), method: :delete, remote: true, class: 'icon icon-del'
  - else
    %p
    - if answer.meeting_question.present? && answer.meeting_question.issue.present?
      = link_to l(:label_update_meeting_issue), {controller: 'meeting_issues', action: 'update', id: answer.id}, method: 'put', remote: true, class: 'icon icon-edit'
    = link_to l(:label_new_meeting_issue), {controller: 'meeting_issues', action: 'new', meeting_answer_id: answer.id}, remote: true, class: 'icon icon-add'
