#meeting_questions
  .autoscroll
    %table.list.issues
      %thead
        %tr
          %th=l(:field_title)
          %th.hide-when-show=l(:button_sort)
          %th=l(:field_issue)
          %th=l(:label_meeting_question_user)
          %th=l(:field_status)
          %th=l(:field_start_date)
          %th=l(:field_due_date)
          %th=l(:field_done_ratio)
      %tbody
        - if session[:meeting_agenda_ungrouped].present?
          = render partial: 'meeting_agendas/questions_list', locals: {questions: @object.meeting_questions}
        - else
          - @object.meeting_questions.group_by(&:project).sort_by{ |project, questions| project.to_s }.each do |project, questions|
            %tr
              %td{colspan: 8}
                %h4{align: 'center'}
                  - if project.present?
                    = link_to_project project
                  - else
                    = t(:label_without_project)
              = render partial: 'meeting_agendas/questions_list', locals: {questions: questions}
