#meeting_questions
  - if session[:meeting_agenda_ungrouped].present?
    = render partial: 'questions_list', locals: {questions: @object.meeting_questions}
  - else
    - @object.meeting_questions.group_by(&:project).sort_by{ |project, questions| project.to_s }.each do |project, questions|
      %h4{align: 'center'}
        - if project.present?
          = link_to_project project
        - else
          = t(:label_without_project)
      = render partial: 'questions_list', locals: {questions: questions}
