:css
  #meeting_participators ul {margin: 0;  padding: 0;}
  #meeting_participators li {list-style-type:none;margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
  #meeting_participators select {width: 95%; display: block;}
  #meeting_participators a.delete {opacity: 0.4; vertical-align: middle;}
  #meeting_participators a.delete:hover {opacity: 1;}
  #meeting_participators img.gravatar {margin: 0 4px 2px 0;}

%p

.contextual
  = link_to l(:button_add), {controller: 'meeting_participators', action: 'new', meeting_protocol_id:  @object.id}, :remote => true, :method => :get

%h3= l(:field_meeting_participators)

#meeting_participators
  = render partial: 'meeting_participators/index'
