- member = @object.meeting_members.where(user_id: User.current.id).first
- if member.present? && member.issue.present? && (member.issue.status == IssueStatus.default)
  %h3= l(:label_meeting_member_accept_question)

  %ul
    %li= link_to l(:label_meeting_member_accept), controller: 'meeting_members', action: 'accept', id: member.id
    %li= link_to l(:label_meeting_member_reject), controller: 'meeting_members', action: 'reject', id: member.id
