- if @issue.approval_items.all?(&:approved)
  location.reload();
- else
  $('#approval_page').html('#{ escape_javascript(render :partial => 'issues/approval_page') }');
  $('#history').html('#{ escape_javascript(render :partial => 'issues/history', :locals => { :issue => @issue, :journals => @journals }) }');
