:css
  #meeting_external_approvers ul {margin: 0;  padding: 0;}
  #meeting_external_approvers li {list-style-type:none;margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
  #meeting_external_approvers select {width: 95%; display: block;}
  #meeting_external_approvers a.delete {opacity: 0.4; vertical-align: middle;}
  #meeting_external_approvers a.delete:hover {opacity: 1;}
  #meeting_external_approvers img.gravatar {margin: 0 4px 2px 0;}

%p

.contextual
  = link_to l(:button_add), {controller: 'meeting_external_approvers', action: 'new', meeting_container_id: @object.id, meeting_container_type: @object.class}, remote: true, method: 'get'

%h3= l(:field_meeting_external_approvers)

#meeting_external_approvers
  = render partial: 'meeting_external_approvers/index'
