= l(:mail_body_greeting) + ' ' + @username + ', '
- if @container.is_a? MeetingAgenda
  = @authorname + " " + t(:mail_body_meeting_approver_destroy_body_agenda) + " " + @container.subject + ": " + url_for(controller: 'meeting_agenda', action: 'show', id: @container.id, only_path: false)
- elsif @container.is_a? MeetingProtocol
  = @authorname + " " + t(:mail_body_meeting_approver_destroy_body_protocol) + " " + @container.meeting_agenda.subject + ": " + url_for(controller: 'meeting_protocol', action: 'show', id: @container.id, only_path: false)
