-#location.reload();

$("#meeting_bind_issue_for_#{@question.meeting_answer.id}").html('#{ escape_javascript(render partial: 'meeting_bind_issues/show', locals: {question: @question, answer: @question.meeting_answer}) }');
