$("#meeting_comment_history_for_#{@container.class.to_s.underscore}_#{@container.id}").html('#{ escape_javascript(render partial: 'meeting_comments/history', locals: {meeting_container: @container}) }');
