$('#ajax-modal').html('#{ escape_javascript(render partial: 'meeting_comments/new', locals: {meeting_container: @object.meeting_container}) }');
showModal('ajax-modal', '400px');
$('#ajax-modal').addClass('new-comment');
